<div class="media-wrapper">
    <a class="image-link" {% if big -%} href="{{ big }}" {%- else -%} href="{{ src }}" {%- endif %}>
        <img src="{{ src }}"
        	{% if alt -%} alt="{{ alt }}" {%- endif -%}
        	{% if class -%} class="{{ class }}" {%- endif -%}
        	{% if id -%} id="{{ id }}" {%- endif -%}
            style="
            	{%- if maxh -%}
            	max-height: {{ maxh }};
            	{%- endif -%}
        	"
        >
    </a>
    {%- if desc -%}
    <p class="description">{{ desc }}</p>
    {%- endif -%}
</div>
