{% macro breadcrumb(ancestors, type="text") %}
<div class="breadcrumb">
{% for ancestor in ancestors %}
      {% set ancestor_page = get_section(path=ancestor) %}
      / <a href="{{ ancestor_page.path }}">{{ ancestor_page.title }}</a>
{% endfor %}
</div>
{% endmacro %}

{% macro banner(src, type="text") %}
<img src="{{ src }}" class="banner" alt="banner">
{% endmacro %}

{% macro card(title, date="", url, type="text") %}
<div class="card">
  <h2 class="title"><a href="{{ url }}">{{ title }}</a></h1>
  {% if date | length != 0 %}
  {{ self::date(date=date) }}
  {% endif %}
</div>
{% endmacro %}

{% macro date(date, type="text") %}
  <span class="date">{{ date | date(format="%e %b %Y") }}</span>
{% endmacro %}
