{% extends "index.html" %}

{% block header %}
  {{ macros::breadcrumb(ancestors=section.ancestors, title=section.title) }}
  <div class="header">
      <h1 class="title">{{ section.title }}</h1>
  </div>
{% endblock %}

{% block main %}
  <div class="content">
    {{ section.content | safe }}
  </div>
  
  <div class="posts">
    {% for page in section.pages %}
      {{ macros::card(url=page.path, title=page.title, date=page.date | default(value="")) }}
    {% endfor %}
  </div>
{% endblock main %}
